/* 
ODK Diagnostics UI
CSS Style Sheet
Mitchell Lee
10-7-13
*/

/*

	Global CSS

*/

.ui-dialog, .ui-front {
	/* makes dialog boxes appear above other elements, 
	also makes the background inactive while a dialog
	box is open */
	z-index: 10000 !important;
}

.row {
	/* create vertical space between columns */
	margin-bottom: 0px;
	margin-left: 5px;
}

.sub_menu {
	border: 1px solid black;
	text-align: center;
	padding-bottom: 10px;
}

/*

	Toolbar elements
	
*/

.menu_shape {
	display: inline-block;
}

#page_title {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#file_browse {
	/* The file browse button is set to 'hidden' because
	I'm replacing the typical "Choose file..." button
	with a picture icon from font-awesome. The file_browse
	input element is invoked when the picture icon is clicked. */
	visibility: hidden;
}

#copy_shape {
	vertical-align:middle;
	float: right;
}

/*

	Properties Menu/Viewing Menu elements

*/

hr {
	height: 1px; 
	background-color: grey;
}

.selected_shape {
	position: absolute;
	opacity: 1;
	background-color: green;
}

.menu_button:hover{
	background-color: grey;
}

.shape_prop_label {
	width: 80px;
}

.shape_property {
	width: 6em !important;
}

#properties_menu {
	text-align: center;
	border: 1px solid black;
}

#shapes_menu .square_item{
	width: 40px;
	height: 40px;
	border: 3px solid black;
}

#shapes_menu .circle_item {
	width: 40px;	
	height: 40px;
	border: 3px solid black; 
	border-radius: 50%;
}

#viewing_window {
	/* this overrides the default 15px padding
	that bootstrap adds to all columns */
	padding-right: 0px;
	padding-left: 0px;
}

#viewing_window .square_item {
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center; 
	border: 2px solid black;
	opacity: 0.75;
	cursor: move;
}

#viewing_window .circle_item {
	position: absolute;
	width: 40px;	
	height: 40px;
	text-align: center; 
	border: 2px solid black; 
	border-radius: 50%;
	opacity: 0.75;
	cursor: move;
}

/* 

	Dialog elements

*/

.step {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.step p {
	width: 250px;
	float: left;
	vertical-align: middle;
}

.input-group, .input-group-sm {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

.input_text {
	margin-left: 10px;
	margin-right: 5px;
}

.dialog_input {
	margin-left: 10px;
	float: right;
	width: 10em;
}

.form-control[readonly] {
	/* overrides default grey background for the input box */
	background-color: white;
}

#json_text {
	height: 200px;
	width: 400px;
}

#create_json_dialog {
	height: 200px;
	width: 600px;
}

#field_label {
	float: left;
}

#global_label {
	float: left;
}

#help_dialog img {
	float: right;
}